@model MundoTechMatematica.Models.Curso


<div id="content" class="site-content">
    <div  >
     <br /><br /> <br /> <br /> <br /><br /><br />
       
    </div><!-- .page-title -->

    <div class="container">
        <div class="row">
            <div id="main" class="site-main col-md-9">
                <h1 class="post-title" style="text-transform: uppercase; font-weight: bold;">@Html.DisplayFor(model => model.Denominacion)</h1>
                

                <a data-gal="prettyPhoto" href="https://www.youtube.com/watch?v=1GaMGdOQLvg" class="video">
                    <img src="~/images/placeholder/video3.jpg" alt="" />
                </a><!-- .video -->
                <br />
                <div class="post-desc">
                   <p>@Html.DisplayFor(model => model.Descripcion)</p>
                    
                </div><!-- .post-desc -->

                <ul class="course-list-table">
                    <li>
                        <h4>1. Introduction <span class="info">1 lesson, 01:20</span></h4>
                        <ul>
                            <li>1.1  Introduction <span class="time">01:20</span></li>
                        </ul>
                    </li>

                    <li>
                        <h4>2. Initial Stages <span class="info">3 lessons, 5:31:15</span></h4>
                        <ul>
                            <li>2.1  Aenean euismod molestie congue <span class="time">56:30</span></li>
                            <li>2.2  Nam vel lacinia felis, eu rutrum lectus <span class="time">30:17</span></li>
                            <li>2.3  Aliquam lacinia urna eu molestie volutpat <span class="time">39:10</span></li>
                        </ul>
                    </li>

                    <li>
                        <h4>3. Decision Making <span class="info">7 lessons, 2:31:39</span></h4>
                        <ul>
                            <li>3.1  Cras molestie, diam nec euismod nunc dui volutpat <span class="time">20:11</span></li>
                            <li>3.2  Pellentesque habitant morbi tristique senectus <span class="time">11:19</span></li>
                            <li>3.3  Etiam eu dolor quis lectus fringilla viverra <span class="time">31:15</span></li>
                            <li>3.4  Donec imperdiet justo eu ligula ullamcorper volutpat</li>
                            <li>3.5  Curabitur mauris orci, ultrices nec semper et, porttitor eu tellus <span class="time">35:11</span></li>
                            <li>3.6  Donec imperdiet justo eu ligula ullamcorper volutpat <span class="time">10:55</span></li>
                            <li>3.7  Suspendisse ut urna  ante accumsan, mollis ante <span class="time">11:35</span></li>
                        </ul>
                    </li>

                    <li>
                        <h4>4. Conclusion <span class="info">1 lesson, 30:15</span></h4>
                        <ul>
                            <li>4.1  Aliquam lacinia urna eu molestie volutpat <span class="time">30:15</span></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- .site-main -->
           
            <div class="col-md-3 sidebar">
                <aside class="widget appply-form">

                    

                    <a onclick="AgregarCarrito(@Model.CursoId,'@Model.Denominacion','@Model.CursoImagen.First().Imagen',@Model.Precio)" href="@Url.Action("Carrito","Home")" class="button large full primary rounded apply-button">Comprar ahora!</a>
                    
                    <div class="course-detail">                                                        
                        <ul>
                            <li>Precio: <span class="price">S/. @Html.DisplayFor(model => model.Precio)</span></li>
                            <li>Lecciones:  12</li>
                            <li>Duración:  12 hours</li>
          
                            
                            <li>
                                <div class="star-rating">
                                    <span style="width:80%"></span>
                                </div>
                                <span>(102 reviews)</span>
                            </li>
                        </ul>
                    </div>
                </aside>

                <aside class="widget teacher-widget">
                    <h3 class="widget-title">Profesor</h3>
                    <div class="speaker">
                        <div class="speaker-thumb">
                            
                        </div><!-- .speaker-thumb -->

                        <div class="speaker-info">
                            <span class="name">@Html.DisplayFor(model => model.Profesor)</span>
                            
                            <p>Profesores con alta calidad de enseñanza muy bien capacitados.</p>
                        </div><!-- .speaker-info -->
                        <div class="socials">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div><!-- .sidebar -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->


@section scripts{
    <script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var cursos = [];
            if (carrito != null) {
                cursos = JSON.parse(carrito);
                CargarCursos(cursos);
            }
        });

        function AgregarCarrito(cursoid, denominacion, imagen, precio) {
            var carrito = localStorage.getItem("carrito");
            var cursos = [];
            if (carrito != null) {
                cursos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < cursos.length; i++) {
                if (cursos[i].CursoId == cursoid) {
                    itemActual = cursos[i];
                }
            }

            if (!itemActual) {
                cursos.push({ CursoId: cursoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(cursos);
            localStorage.setItem("carrito", jsonStr);

            CargarCursos(cursos);

        }



        function CargarCursos(cursos) {
            var html = '';
            var total = 0;

            $.each(cursos, function () {
                total += this.Precio * this.Cantidad
                html += '<tr>' +
                                 '<td class="product-remove"><a href="#" class="remove"><i class="fa fa-times"></i></a></td>' +
                                 '<td class="product-name"><a href="single-product.html"><img src="/ImgCursos/' + this.Imagen + '" alt="" /><span>' + this.Denominacion + '</span></a></td>' +
                                 '<td class="product-price"><p class="price">S/. ' + this.Precio + '</p></td>' +
                                 '<td class="quantity">' +
                                 '        <input type="text" value="' + this.Cantidad + '" title="Qty" class="qty" size="4" />' +
                                 '</td>' +
                                 '<td class="product-subtotal">'+
                                 '           <p id="totalCompra" class="price">0.00</p>'+
                                  '</td>'+
                                 '</tr>'
            });
            $('#itemcarrito').html(html);

            $("#totalCompra").text('S/.' + total);
        }

</script>

}